#it's looking for author/repo.git, FYI

#solid sources
github "AFNetworking/AFNetworking" ~> 3.0
github "tumblr/TMCache"
github "couchbase/couchbase-lite-ios" "release/1.2.0"
github "intuit/LocationManager"

#potentially sketchier sources
# github "adamotte/googleplus-ios-sdk"
# github "litl/localytics-ios"
# github "erichoracek/UIDevice-Hardware"
# github "nielsmouthaan/SecureNSUserDefaults"
# github "kishikawakatsumi/UICKeyChainStore"
# github "mysterioustrousers/MTDates"
# github "kelp404/CocoaSecurity" == 1.2.3